<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- DI依赖注入的方式: set方法注入 -->
    <bean id="car" class="com.spring.di.bean.Car">
        <property name="brand" value="丰田"/>
        <property name="crop" value="广汽"/>
        <property name="price" value="200000"/>
    </bean>

    <!-- DI依赖注入的方式: 构造器的方式
     index:指定参数的位置
     type: 指定参数的类型
-->
    <bean id="car2" class="com.spring.di.bean.Car">
        <constructor-arg value="宝马" index="0" type="java.lang.String"/>
        <constructor-arg value="450000" index="2"  type="java.lang.Integer"/>
        <constructor-arg value="华晨" index="1"  type="java.lang.String"/>
    </bean>

    <bean id="car3" class="com.spring.di.bean.Car" p:brand="本田" p:crop="东本" p:price="200000" p:speed="200"/>

    <!--字面量(在需要赋值特殊符号时推荐使用第二种方式，不需要记住特殊符号的实体名称,可以直接写)
        特殊字符:
            1. 使用实体.  &nbsp;
                    &: &amp;
                    <: &lt;
                    >: &gt;
                    ": &quot;
                    ':
            2. <![CDATA[  写任意字符    ]]>
     -->
    <!--推荐都是在<property>标签里进行赋值，除非是有特殊符号才使用<value>标签-->
    <bean id="book" class="com.spring.di.bean.Book">
        <property name="bookId" value="1000"/>
        <!--<property name="bookName" value="&lt;&lt;Java从入门到精通&gt;&gt;"/>-->
        <property name="bookName">
            <value><![CDATA[& ' " > < * % $ #@ ]]]></value>
        </property>

    </bean>

    <!-- 引用其他的bean -->
    <!--通过ref选择当前IOC容器里的bean id进行赋值-->
    <bean id="person" class="com.spring.di.bean.Person">
        <property name="id" value="101"/>
        <property name="name" value="苍老师"/>
        <property name="car" ref="car"/>
        <!-- 给级联属性赋值-->
        <property name="car.speed" value="100"/>
    </bean>

    <!-- 内部bean -->
    <bean id="person1" class="com.spring.di.bean.Person">
        <property name="id" value="102"/>
        <property name="name" value="三上老师"/>
        <property name="car">
           <bean class="com.spring.di.bean.Car">
               <property name="brand" value="Mini"></property>
               <property name="crop" value="宝马"></property>
               <property name="price" value="300000"></property>
               <property name="speed" value="260"></property>
           </bean>
        </property>
    </bean>

    <!-- null值 -->
    <bean id="person2" class="com.spring.di.bean.Person">
        <property name="id" value="103"></property>
        <property name="name" value="Julia老师"></property>
       <!-- <property name="car"><null /></property>-->
    </bean>
</beans>