<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--以id为address为模板，创建address2-->
    <!--可以继续class，和其属性city,street-->
    <!--address2.street覆盖了继承的属性-->
    <!--<bean id="address" class="com.spring.relation.bean.Address">
        <property name="city" value="广州"/>
        <property name="street" value="体育西路"/>
    </bean>

    <bean id="address2" parent="address">
        <property name="street" value="体育东路"/>
    </bean>-->

    <!-- bean的继承关系

		 abstract="true": 抽象bean. 不能被创建对象. class可以省略不配置

		 继承可以从父bean中继承一些配置， 但是 id  abstract  autowire 是不能被继承下来的.
	 -->
    <bean id="address" abstract="true">
        <property name="city" value="广州"/>
        <property name="street" value="体育西路"/>
    </bean>

    <bean id="address2" class="com.spring.relation.bean.Address" parent="address"/>


    <bean id="address3" class="com.spring.relation.bean.Address" depends-on="address4"/>

    <bean id="address4" class="com.spring.relation.bean.Address"/>
</beans>